# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env
.flaskenv
instance/

# DB
database/*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
static/images/uploads/*
!static/images/uploads/.gitkeep
